body {
  background-color: #fff;
  padding: 50px;
  font: 17px/1.47 "SF Pro Text", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Microsoft YaHei", sans-serif;
  color: #1d1d1f;
  font-weight: 400;
}
